@use "variables" as *;
@use "mixins" as *;

.site-header {
  background: white;
  border-bottom: 1px solid #e5e5e5;
  padding: $space-sm $space-md;

  h1 {
    margin: 0;

    img {
      height: 40px;
    }
  }

  .header-inner {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }

  .header-nav {
    a {
      text-decoration: none;
      color: $text;
      font-weight: 500;

      &:hover {
        color: $green-light;
      }

      &.button-primary {
        color: white;

        &:hover {
          color: white;
        }
      }
    }

    *+* {
      margin-left: $space-md;
    }
  }

  &.has-hero {
    .nav-open {
      color: white;
    }

    @include tablet-and-desktop {
      .header-nav {
        a {
          color: white;

          &:hover {
            color: $green-light;
          }
        }

        .button-primary {
          display: none;
        }
      }
    }

    @include desktop {
      .header-nav .button-primary {
        display: inline-block;
        visibility: hidden;
      }
    }
  }
}