@use "variables" as *;

.site-header+.hero {
    margin-top: -65px;
}

.hero {
    background: linear-gradient(135deg,
            $blue,
            color-mix(in srgb, $blue-light, white 30%));
    padding: $space-xxl $space-md;
    text-align: center;
    color: white;

    h1 {
        margin-bottom: $space-md;

        img {
            width: 400px;
            max-width: 50%;
            margin: auto;
        }
    }

    .hero-subtitle {
        font-size: clamp($fs-sm, 2vw, $fs-lg);
        opacity: 0.9;
        margin-bottom: $space-lg;
    }
}