@use "variables" as *;
@use "mixins" as *;

.nav-toggle,
.nav-checkbox {
  display: none;
}

@include mobile {
  .site-header {
    .nav-toggle {
      display: block;
      background: none;
      border: none;
      font-size: 25px;
      cursor: pointer;
      color: $text;
    }

    .header-nav {
      display: flex;
      flex-direction: column;
      line-height: 2.5;
      background: white;
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      max-width: 200px;
      height: 100%;
      padding: $space-xl $space-lg $space-md;
      box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
      z-index: 998;
      transform: translateX(100%);
      transition: transform 0.3s ease;

      *+* {
        margin-left: 0;
      }

      .button-primary {
        margin-top: $space-md;
      }
    }

    .nav-checkbox {
      &:checked+.nav-toggle+.header-nav {
        transform: translateX(0);
      }

      &:checked+.nav-toggle {
        .nav-open {
          display: none;
        }

        .nav-close,
        .nav-close-overlay {
          display: block;
        }

        .nav-close {
          position: relative;
          z-index: 999;
        }

        .nav-close-overlay {
          position: absolute;
          cursor: default;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 998;
        }
      }
    }

    .nav-checkbox+.nav-toggle {
      .nav-close,
      .nav-close-overlay {
        display: none;
      }
    }
  }
}